*~
.*
*.o
*.lo
*.swp
*.dsl
0*.patch
test-suite.log
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/configure
/ar-lib
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
test-driver
results.log
debian/*.debhelper.log
debian/autoreconf.after
debian/autoreconf.before
src/fwts
src/lib/src/libfwts.la
src/utilities/kernelscan
fwts-test/*/*.sh.trs
fwts-test/*/*.sh.log
fedora/rpm
