*~
*.o
*.swp
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/configure
/ar-lib
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
.deps
.dirstamp
test-driver
debian/*.debhelper.log
debian/autoreconf.after
debian/autoreconf.before
